<!DOCTYPE html>
<html>
	<%- include('head', {name:name}) -%>
	<body>
		<%- include('navbar', {name:name}) -%>
<textarea></textarea>
<div class="jumbotron starter-template control" style="-moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;" unselectable="on" onselectstart="return false;" onmousedown="return false;">  
		<div class="input-group">
	      <input type="text" class="form-control" placeholder="Search for...">
	      <span class="input-group-btn">
	        <button class="btn btn-default" type="button">Go!</button>
	      </span>
    </div><!-- /input-group -->
</div>
<%- include('scripts') -%>
	</body>
</html>