<canvas id="canvas"></canvas>
<div class="jumbotron starter-template control" style="-moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;" unselectable="on" onselectstart="return false;" onmousedown="return false;">  
		<span class="glyphicon glyphicon-play" aria-hidden="true" id="start"></span>
		<span class="glyphicon glyphicon-step-forward" aria-hidden="true" id="next"></span>
		<span class="glyphicon glyphicon-stop" aria-hidden="true" id="stop"></span>
</div>